/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*-----------------------------------------------------------------------------BODY-----*/
body{
	font-family: lato;
	
}

/* -----------------------------------------------------------------------------NAV */
.nav-conteiner {
	max-width: 621px;
	margin: 0 auto;
}

nav {
	position: relative;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2.6px;
	color: #4d4959;
	text-transform: uppercase;	
	z-index: 1;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
	margin-left: -6px;
	padding-right: 8px;
}

.nav-menu a{
	color: #4d4959;
}

.nav-list-left {
	display: flex;
	position: relative;
	gap: 71px;
}

.nav-list-right{
	display: flex;
	position: relative;
		gap: 67px;
}
.nav-list-left li:first-child::after{
	content: '';
	width: 2px;
	height: 2px;
	background-color: #4d4959; 
	position: absolute;
	border-radius: 50%;
	top: 50%;
	margin-top: 2px;
	margin-left: 35px;
}
.nav-list-right li:first-child::after {
	content: '';
	width: 2px;
	height: 2px;
	background-color: #4d4959;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	margin-top: 2px;
	margin-left: 32px;
}

.nav-logo {
	text-align: center;
	margin-top: -45px;
}

@media (max-width:767px) {
	.nav-list-right li:first-child::after{
		display: none;
	}
	.nav-list-left li:first-child::after{
		display: none;
	}
	.nav-list-left {
		gap: 30px;
	}
	.nav-list-right {
		gap: 30px;
	}
	.nav-menu {
		margin: 65px auto 0;
	}
	.nav-conteiner {
		max-width: 500px;
	}
}

@media (max-width:550px){
	.nav-list-left {
		flex-direction: column;
	}

	.nav-list-right {
		flex-direction: column;
	}
	.nav-menu {
		margin: 0 auto;
		padding: 26px 30px 0 30px;
	}
	li{
		text-align: center;
	}
	nav {			
		font-size: 12px;
		letter-spacing: 2px;
	}
		.nav-logo {
			text-align: center;
			margin-top: -65px;
		}
}


/* -----------------------------------------------------------------------------top image */
.top-img {
	margin-top: -120px;
	width: 100%;
	height: 100vh;
	
}
.top-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* --------------------------------------------------------------------------About us */
h2 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3.6px;
	color: #353738;
	text-transform: uppercase;
}

.text {
	font-size: 18px;
	line-height: 1.89;
	color: #848789;
}

.about {
background-color: #f7f7f7;
}

.about-conteiner {
	padding: 117px 0 133px 0;
	text-align: center;
}

.about-icon {
	margin-bottom: 34px;
}

.about-title {
	margin-bottom: 22px;
	padding-left: 5px;
}

.about-text {
	max-width: 1109px;
	margin: 0 auto;
	padding: 0 15px;
}
@media (max-width:1200px) {
	.about-text {
			max-width: 970px;
		}
	.about-conteiner {
		padding: 57px 0 53px 0;
	}
}
@media (max-width:992px) {
	.about-text {
		max-width: 750px;
	}
}
@media (max-width:767px) {
	.about-text {
		max-width: none;
	}
	.about-conteiner {
		padding: 40px 0 40px 0;
	}
}
@media (max-width:550px) {
	.h2 {
		font-size: 14px;
		letter-spacing: 2px;
	}
	.text {
		font-size: 16px;
		line-height: 1.4;
	}
}

/* --------------------------------------------------------------------------work */

.bike1 {
	display: flex;
}

.bike1-leftside {
	flex: 1 1 66.667%;
	position: relative;
}

.bike1-leftside-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.bike1-leftside-image{
	width: 100%;
	height: 100%;
}

.bike1-leftside-icon {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bike1-leftside-icon:hover{
	background-color: rgba(100, 194, 158, 0.5)
}

.bike1-rightside {
	flex: 1 1 33.333%; 
	padding-top: 70px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.bike1-rightside-icon {
	margin-bottom: 28px;
}

.bike1-rightside-title {
	margin-bottom: 14px;
}

.work-text{
	font-size: 16px;
	line-height: 1.88;
	text-align: justify;
	color: #848789;
}
.bike1-rightside-text {
	max-width: 432px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.bike1-rightside-text::after {
	content: '';
	height: 1px;
	background-color: #353738;
	width: 50px;
	margin: 34px auto;
	display: block;
}

.bike1-rightside-image img{
	width: 100%;
	height: 100%;
	
}
.bike1-rightside-image{
position: relative;
}
.bike1-rightside-image::before{
	content: '';
	width: 0;	
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	margin-bottom: -10px;
	margin-left: -10px;
	position: absolute;
	left: 50%;
}

@media (max-width:1200px) {
	.bike1-rightside{
		padding-top: 30px;
	}
	.bike1-rightside-line{
		margin: 15px auto 23px;
	}
}

@media (max-width:767px) {
	.bike1-rightside {
		padding-top: 15px;
	}
	.bike1-rightside-line {
		margin: 10px auto 15px;
	}
	.bike1-rightside-icon {
		margin-bottom: 15px;
	}
	.work-text {
		font-size: 14px;
		line-height: 1.2;
	}
}

@media (max-width:550px) {
	.bike1 {
		flex-direction: column;
	}
	.bike1-rightside{
		order: 1;
	}
	.bike1-leftside{
		order: 2;
	}
}

/* -----------bike2 */
.bike2 {
	display: flex;
	
}
.bike2 .bike1-rightside{
	padding-top: 61px;
}
.bike2 .bike1-rightside-icon{
	margin-bottom: 27px;
}


@media (max-width:1200px) {
	.bike2 .bike1-rightside {
		padding-top: 30px;
	}
	.bike2 .bike1-rightside-line {
		margin: 15px auto 23px;
	}
}

@media (max-width:767px) {
	.bike2 .bike1-rightside {
		padding-top: 15px;
	}
	.bike2 .bike1-rightside-icon {
		margin-bottom: 15px;
	}
	.bike2 .bike1-rightside-line {
		margin: 10px auto 15px;
	}
}

@media (max-width:550px) {
	.bike2 {
			flex-direction: column;
	
		}
}
/* --------------bike3 */
.bike3 {
	display: flex;
}

.bike3-column {
	flex: 1 1 33.333%;
}
.bike3-left {
	height: 100%;
	position: relative;
}
.bike3-left-icon:hover {
	background-color: rgba(100, 194, 158, 0.5)
}

.bike3-left-image {
	height: 100%;
}

.bike3-left-image img{
	object-fit: cover;
	width: 100%;
	height: 100%; 
}

.bike3-left-icon {
	height: 100%;
	width: 100%;	
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.bike3-center {
	padding-top: 58px;
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.bike3-center-icon {
	margin-bottom: 22px;
}

.bike3-center-title {
	margin-bottom: 15px;
}

.bike3-center-text {
	max-width: 432px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}
.bike3-center-text::after {
	content: '';
	height: 1px;
	background-color: #353738;
	width: 50px;
	margin: 34px auto;
	display: block;	
}
.bike3-center-image{
	position: relative;
}
.bike3-center-image::before{
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	margin-bottom: -10px;
	margin-left: -10px;
	position: absolute;
	left: 50%;
}
.bike3-center-image img{
	width: 100%;
	height: 100%;
}
.bike3-right {
	height: 100%;
}
.bike3-right img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width:1200px) {
	.bike3-center {
		padding-top: 15px;}
	.bike3-center-line {
		margin: 15px auto 20px;
	}
}

@media (max-width:550px) {
	.bike3 {
		flex-direction: column;
	}
	.bike3-column:nth-child(1){
		order: 3;
	}
	.bike3-column:nth-child(2) {
		order: 1;
	}
	.bike3-column:nth-child(3) {
		order: 2;
	}
}
/* --------------------------------------------------------------------------twitter */
.twitter {
	background-color: #f7f7f7;
}

.twitter-conteiner {
	padding: 124px 0 69px;
	text-align: center;
}

.twitter-icon {
	margin-bottom: 35px;
}

.twitter-title {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.8px;
	color: #353738;
	margin-bottom: 18px;
}

.twitter-title span{
	font-weight: lighter;
}

.twitter-text {
	font-size: 24px;
	font-style: italic;
	line-height: 1.42;
	color: #848789;
	margin-left: 36px;
}

.twitter-text p{
	max-width: 1038px;
	margin: 0 auto;
}
.twitter-text p::after{
	content: '';
	width: 11px;
	height: 11px;
	background-color: #282f35;
	border-radius: 50%;
	display: block;
	margin: 100px auto 0 auto;
	
}


@media (max-width:1200px) {
	.twitter-conteiner {
		padding: 50px 0 30px;
		text-align: center;
	}
	.twitter-text p {		
		margin-bottom: 30px;
	}
	.twitter-text {
		margin: 0 auto;
		padding: 0 30px;
	}
}
@media (max-width:767px) {
	
}


/* --------------------------------------------------------------------------shop */
.shop img{
	width: 100%;
	height: 100%;
}

.shop-top {
	display: flex;
}

.shop-column {
	flex: 1 1 33.333%;
}

.shop-column-left {}

.shop-column-left-top {
	display: flex;
}

.shop-column-left-top-image {
	flex: 1 1 50%;
}

.shop-column-left-bottom {}

.shop-column-center {
	display: flex;
}

.shop-column-center-row {
	flex: 1 1 auto;
}

.shop-column-right {}

.shop-column-right-column {
	display: flex;
}

.shop-column-right-column-row {
	flex: 1 1 50%;
}

.shop-bottom {
	background-color: #282f35;
	padding: 75px 0;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2.8px;
	text-align: center;
	
	
}

.shop-bottom-button {
	display: block;
	border: solid 1px #ffffff80;
	width: 300px;
	margin: 0 auto;
	padding: 17px 0;
	text-transform: uppercase;
	color: #fff;
}
@media (max-width:1200px) {
	.shop-bottom {
			padding: 50px 0;
		}
}

@media (max-width:767px) {
	.shop-bottom-button {
			width: 240px;
			padding: 15px 0;
		}
				
}
@media (max-width:550px) {
	.shop-top {
			display: block;
		}
}
/* --------------------------------------------------------------------------contact */
.contact {
	padding: 109px 0;
	text-align: center;
}

.contact-logo {
	margin-bottom: 30px;
}
h4 {
	font-size: 24px;
	font-style: italic;
	line-height: 1.42;
	text-align: center;
	color: #848789;
}
.contact-tittle {
	margin-bottom: 31px;
}

.contact-form {
	max-width: 534px;
	margin: 0 auto;
	
}
form {
	display: flex;
	justify-content: space-between;
}
.contact-input {
	border: 1px solid #d3d7d9;
	width: 400px;
	font-size: 20px;
	font-style: italic;
	line-height: 1.2;
	color: #929292;
	padding: 20px 0 23px 28px;
}

.contact-button {
	width: 126px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	background-color: #64c29e;
	padding: 22px 0;
}
@media (max-width:1200px) {
	.contact {
		padding: 50px 0;
	}
}

@media (max-width:767px) {
	.contact-input {
			font-size: 18px;
			padding: 15px;
	}
	.contact-button {
		width: 100px;
		padding: 15px 0;
	}
}

@media (max-width:550px) {
	.contact {
			padding: 30px 0;
		}
	.contact-tittle {
		margin-bottom: 20px;
	}
	.contact-logo {
		margin-bottom: 20px;
	}
	.contact-input {
		width: 200px;
		font-size: 18px;
	}

	.contact-button {
		width: 70px;
		padding: 12px 0;
	}
	form {
		justify-content: center;
		gap: 15px;
		padding: 0 15px;
	}
}
/* --------------------------------------------------------------------------footer */
.footer {
	background-color: #f7f7f7;
	padding: 99px 0 103px;
}

.footer-conteiner {
	max-width: 1100px;
	margin: 0 auto;
}

.footer-flex {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}

.footer-column {
	flex: 1 1 33.333%;
}

.footer-left {}

.footer-left-text {
	font-size: 14px;
	font-style: italic;
	line-height: 1.29;
	color: #848789;
}
.footer-left-text p:first-child{
	font-style: normal;
	font-weight: bold;
}

.footer-center {
	display: flex;
	justify-content: center;
}

.footer-link {
	margin: 0 7.5px;
}

.footer-right {
	display: flex;
	justify-content: end;
	align-items: center;
}

.footer-right-text {
	font-size: 14px;
	font-style: italic;
	line-height: 1.29;
	text-align: right;
	color: #848789;
}

.footer-right-logo {
	margin-left: 9px;
}
@media (max-width:1200px) {
	.footer-conteiner {
			max-width: 870px;
			padding: 0 30px;
		}
	.footer {
		padding: 50px 0;
	}
}

@media (max-width:550px) {
	.footer {
			padding: 30px 0 10px;
		}
	.footer-flex {
			display: block;
			text-align: center;
		}
	.footer-right {
		justify-content: center;
	}
	.footer-column {
		margin-bottom: 20px;
	}
}